<template>
  <div>
    <div>
      <div v-if="!sendCoin">
        <div style="max-width: 20em; margin: auto">
          <q-btn
            @click="logout"
            icon="exit_to_app"
            flat
            color="deep-orange"
            round
          ></q-btn>
          <h6 class="q-ma-md" for="">
            Mis monedas:
            {{ coins }}
          </h6>
          <h6 class="q-mt-md" for="">
            Notificaciones:
            <q-toggle v-model="isEnabledNotification" />
          </h6>
          <vue-qrcode :margin="0" :width="200" :value="uid" />
          <div class="text-caption">{{ uid }}</div>
          <q-btn
            class="q-mt-md"
            type="submit"
            :color="isUserActive ? 'primary' : 'deep-orange'"
            label="Realizar Transferencia"
            @click="onSendCoin"
          ></q-btn>
          <h6 class="q-mb-lg">Ultimas transferencias</h6>
          <q-btn
            class="q-mb-lg"
            :disable="refreshBlock"
            color="secondary"
            @click="refreshTransfers"
            >{{ refreshBlock ? "Espera 1 min" : "Actualizar" }}</q-btn
          >
        </div>

        <div v-if="transfers" style="text-align: left">
          <q-list bordered separator>
            <q-item v-for="(transfer, index) in transfers" :key="index">
              <q-item-section>
                <q-item-label>{{ transfer.uid }}</q-item-label>
                <q-item-label caption>{{
                  new Date(transfer.date).toLocaleString()
                }}</q-item-label>
              </q-item-section>
              <q-item-section side>
                <q-item-label
                  caption
                  :class="
                    transfer.coins > 0 ? 'text-secondary' : 'text-deep-orange'
                  "
                  >{{ transfer.coins > 0 ? "+" : ""
                  }}{{ transfer.coins }}</q-item-label
                >
              </q-item-section>
            </q-item>
          </q-list>
        </div>
      </div>
      <div v-if="sendCoin">
        <h6 for="">Transferencia de [ {{ coinsToSend }} ] Social Coins:</h6>
        <qrcode-stream v-if="!flagDetectQR" @decode="onDecode"></qrcode-stream>
        <h6 for="">
          Escanea el codigo QR de la persona que quieras enviar los Social Coins
        </h6>
        <q-btn
          @click="onCancel"
          type="submit"
          color="red"
          label="Cancelar"
        ></q-btn>
      </div>
    </div>
    <div></div>
  </div>
</template>

<script lang="ts">
import "reflect-metadata";
import { Component, Prop, Vue } from "vue-property-decorator";
import { QrcodeStream } from "vue-qrcode-reader";
import VueQrcode from "vue-qrcode";
import { Dialog } from "quasar";
import { Transfers } from "../models/index";
import { logout, makeTransfer } from "@/services/firebase";
import { storeModule } from "@/store";

@Component({
  components: {
    QrcodeStream,
    VueQrcode,
  },
})
export default class Home extends Vue {
  get uid() {
    return storeModule.uid;
  }
  get coins() {
    return storeModule.coins;
  }
  get transfers() {
    return storeModule.transfers;
  }
  get isUserActive() {
    return storeModule.isUserActive;
  }
  get isEnabledNotification() {
    return storeModule.isEnabledNotification;
  }
  set isEnabledNotification(value: boolean) {
    Dialog.create({
      title: "Notificaciones",
      message: value
        ? `¿Quieres activar las notificaciones para que te avisemos cuando recibas un ingreso?`
        : "¿Ya no quieres que te avisemos cuando recibas un ingreso?",
      ok: "Aceptar",
      cancel: "Cancelar",
    }).onOk(() => storeModule.enableNotification(value));
  }
  coinsToSend = 0;
  sendCoin = false;
  flagDetectQR = false;
  refreshBlock = false;

  async mounted() {
    await storeModule.getUserData({ withPushToken: true });
    storeModule.onMessageReceived();
  }
  onSendCoin() {
    if (!this.isUserActive) {
      Dialog.create({
        title: "Usuario NO activo",
        message: `Por motivos de seguridad y para mantener una economia sostenible, es necesario que recibas al menos una transferencia de algun usuario real. Gracias`,
        ok: "Aceptar",
      });
      return;
    }
    Dialog.create({
      title: "¿Cuantos Social Coins quieres enviar?",
      message: `Mis monedas: <b>${this.coins}</b>`,
      ok: "Aceptar",
      prompt: {
        model: "",
        isValid: (val: number) => val < this.coins, // << here is the magic
        type: "number", // optional
      },
      html: true,
      cancel: "Cancelar",
      persistent: true,
    }).onOk((val: string) => {
      this.sendCoin = true;
      this.coinsToSend = parseInt(val);
    });
  }
  onDecode(val: string) {
    if (!val) return;
    this.flagDetectQR = true;
    Dialog.create({
      title: "Confirmar envio",
      message: `¿Quieres enviar <b>${this.coinsToSend}</b> social coins a <b>${val}</b>?`,
      html: true,
      cancel: true,
      persistent: true,
    })
      .onOk(async () => {
        await storeModule.makeTransfer({ to: val, coins: this.coinsToSend });
        this.sendCoin = false;
      })
      .onDismiss(() => (this.flagDetectQR = false));
  }
  refreshTransfers() {
    this.refreshBlock = true;
    storeModule.getUserData({ withPushToken: true });
    setTimeout(() => {
      this.refreshBlock = false;
    }, 60 * 1000);
  }
  onCancel() {
    this.sendCoin = false;
    this.coinsToSend = 0;
  }
  logout() {
    storeModule.loggout();
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
</style>
