<template>
  <q-form @submit="loginSuccess">
    <q-input
      v-model="myForm.email"
      type="email"
      :rules="[rules.require, rules.email]"
      label="Email"
    />
    <q-input
      v-model="myForm.pass"
      :type="!showPass ? 'password' : 'text'"
      :rules="[rules.require, rules.password]"
      label="Contraseña"
    >
      <template v-slot:append>
        <q-btn
          round
          dense
          flat
          @click="showPass = !showPass"
          :icon="showPass ? 'visibility' : 'visibility_off'"
        />
      </template>
    </q-input>
    <div>
      <q-checkbox
        class="text-left q-my-md"
        v-model="myForm.newUser"
        color="secondary"
        label="¿Eres nuevo?"
      />
    </div>
    <div>
      <div class="row justify-around" v-if="!myForm.newUser">
        <q-btn
          class="col-12 col-sm-7 q-ma-xs"
          type="submit"
          color="primary"
          outline
          label="Olvidé mi contraseña"
        />
        <q-btn
          class="col-12 col-sm-3 q-ma-xs"
          type="submit"
          color="primary"
          label="Entrar"
        />
      </div>
      <q-btn
        v-if="myForm.newUser"
        type="submit"
        color="secondary"
        label="Registrarse"
      />
    </div>
  </q-form>
</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";
import { login } from "@/services/firebase";
import { storeModule } from "@/store";
@Component
export default class Login extends Vue {
  myForm = {
    email: "rce1991@gmail.com",
    pass: "aeece1991",
    newUser: false,
  };
  showPass = false;
  rules = {
    require: (val: unknown) => !!val || "Campo obligatorio",
    email: (val: unknown) =>
      /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/.test(
        String(val).toLowerCase()
      ) || "Email incorrecto",
    password: (val: string) =>
      (!!val && val.length >= 8) || "Contraseña con menos de 8 caracteres",
    samePassword: (val2: string) => (val: unknown) =>
      val2 !== val || "Contraseñas diferentes",
  };

  loginSuccess() {
    storeModule.loggin(this.myForm);
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
</style>
