<template>
  <div class="row">
    <div
      class="q-pa-md col-12 col-md-6 text-center"
      style="max-width: 30em; margin: auto"
    >
      <h4>My Social Coin</h4>
      <Login v-if="!logged" />
      <Home v-if="logged" />
    </div>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";
import Login from "./components/Login.vue";
import Home from "./components/Home.vue";
import { storeModule } from "./store";
import { Transfers } from "./models";
import { getTransfers, userOnChange } from "./services/firebase";
import { Loading, Notify } from "quasar";
@Component({
  components: {
    Login,
    Home,
  },
})
export default class App extends Vue {
  get logged() {
    return storeModule.isLogged;
  }

  async mounted() {
    storeModule.onUserChange();
  }
}
</script>

<style>
</style>
